# Python cache artifacts
__pycache__/
*.py[cod]

# Airflow runtime state
airflow.cfg
airflow.db
logs/
simple_auth_manager_passwords.json.generated

# Generated local data
data/raw/

# Common local/editor clutter
.DS_Store

# Streamlit local secrets
.streamlit/secrets.toml

rsa_key_airflow.p8
secrets.toml

.venv-analytics
.analytics-site-packages